<div class="container">
                <h3 class="page-heading">About Us</h3>
                <hr/>
                <div class="kj col-xs-12 col-sm-3"><img src="imgs/kjs/razor.jpg" />
                    <h4>Razor</h4>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <p>Cherry Sound is a licensed, professional and complete entertainment service with over 20 years experience. Whether your planning a formal wedding or a casual affair, we will provide experienced and personable Disc Jockeys, Master of Ceremonies and Karaoke Hosts with a vast music selection.</p>
                    <p> We promise the desired atmosphere and entertainment for any occasion. Yet, Cherry Sound is more than just DJ's and music. We offer a full range of entertainment services such as: Disc Jockeys Singing telegrams Master of Ceremonies Musical Entertainment Karaoke with Host And Much More! </p>
                    <p>Commitment to Excellence is our promise to you. Our integrity is reflected by our satisfied clients.</p>
                    <p>Our Interactive KJs/Emcees are professionally trained to make your party memorable FUN by personally involving your guests in a variety of group participation activities, from novelty to high-energy dance programs. Along with the MUSIC you can SING and DANCE to, for every occasion!</p>
                </div>
            </div>
            <div class="container">
                <h4>Our KJ's</h4>
                <div class="kj col-xs-6 col-sm-2"><img src="imgs/kjs/laura.jpg" />
                    <h5>Laura</h5></div>
                <div class="kj col-xs-6 col-sm-2"><img src="imgs/kjs/studebaker.jpg" />
                    <h5>Studebaker</h5></div>
                <div class="kj col-xs-6 col-sm-2"><img src="imgs/kjs/marilyn.jpg" />
                    <h5>Marilyn</h5></div>
                <div class="kj col-xs-6 col-sm-2"><img src="imgs/kjs/judy.jpg" />
                    <h5>Judy</h5></div>
                <div class="kj col-xs-6 col-sm-2"><img src="imgs/kjs/cassidy.jpg" />
                    <h5>Cassidy</h5></div>
                <div class="kj col-xs-6 col-sm-2"><img src="imgs/kjs/leigh.jpg" />
                    <h5>Leigh</h5></div>
                <div class="kj col-xs-6 col-sm-2"><img src="imgs/kjs/starr.jpg" />
                    <h5>Starr</h5></div>
            </div>
        </div>