<header class="app__header">
    <div class="container">
        <div class="logo col-xs-12 col-md-3">
            <a href="#">CherrySound</a>
        </div>
        <nav class="col-xs-12 col-md-9">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#/search">Song Search</a></li>
                <li><a href="#/about">About Us</a></li>
                <li><a href="#/services">Services</a></li>
                <li><a href="#/media">Media</a></li>
                {{!-- <li><a href="#/news">News</a></li> --}}
                <li><a href="#/contact">Contact</a></li>
                <li><a class="btn btn-primary btn-lg visible-xs-block" href="#/search" role="button">Search For A Song</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="app__container">
</div>
<footer class="app__footer">
    <div class="container">
        <div class="logo col-xs-12 col-sm-4">
            <a href="#">CherrySound</a></div>
        <div class="col-xs-12 col-sm-4"><span class="glyphicon glyphicon-earphone"></span> <a href="tel:4242655255"> (424) 265-LAKJ(5255)</a></div>
        <div class="col-xs-12 col-sm-4"><span class="glyphicon glyphicon-envelope"></span> Razor@CherrySound.com</div>
    </div>
</footer>