<div class="jumbotron hidden-xs">
    <div class="container">
        <h2 class="hidden-xs">Release Your Inner Rockstar!</h2>
        <p><a class="btn btn-primary btn-lg" role="button" href="#/search">Search For A Song</a></p>
    </div>
</div>
</div>
<div class="service-btns container">
    <a href="#/services" class="col-xs-12 col-sm-6 col-md-3">
        <img src="imgs/btn-karaoke.jpg" />
        <h4>Karaoke</h4>
        <p>Spice up any event with our karaoke services and your guests are bound to have a rockin' time with our professional KJs!</p>
    </a>
    <a href="#/services" class="col-xs-12 col-sm-6 col-md-3">
        <img src="imgs/btn-dj.jpg" />
        <h4>DJ Services</h4>
        <p>Need someone to provide some melody for your special occasion? With a large library of songs we can accomodate your DJ needs!</p>
    </a>
    <a href="#/services" class="col-xs-12 col-sm-6 col-md-3">
        <img src="imgs/btn-weddings.jpg" />
        <h4>Weddings</h4>
        <p>Not only do we offer great KJ and DJ services but we also can provide officiating services for your special day tailored to your specific needs.</p>
    </a>
    <a href="#/services" class="col-xs-12 col-sm-6 col-md-3">
        <img src="imgs/btn-more.jpg" />
        <h4>And More!</h4>
        <p>With over 20 years of experience, we have the knowledge and experience to provide sound services for your event!</p>
    </a>
</div>
<div class="container">
    <h4>Our Weekly Karaoke Schedule</h4>
    <div class="table-responsive">
        <table class="table table-striped schedule-table">
            <tr>
                <th></th>
                <th><a href="http://www.yelp.com/biz/liquid-kitty-los-angeles" target="_blank">The Liquid Kitty</a></th>
                <th><a href="http://www.yelp.com/biz/scarlet-lady-saloon-culver-city" target="_blank">Scarlet Lady Saloon</a></th>
                <th><a href="http://www.yelp.com/biz/the-irish-times-los-angeles-2" target="_blank">The Irish Times</a></th>
                <th><a href="http://www.yelp.com/biz/the-britannia-pub-santa-monica" target="_blank">The Britannia Pub</a></th>
            </tr>
            <tr>
                <th>Monday</th>
                <td>10pm - 1:30am</td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
            </tr>
            <tr>
                <th>Tuesday</th>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td>8:30pm - 12:30am</td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td>10pm - 1:30am</td>
            </tr>
            <tr>
                <th>Wednesday</th>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td>9pm - 1am</td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
            </tr>
            <tr>
                <th>Thursday</th>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td>9pm - 1am</td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td>10pm - 1:30am</td>
            </tr>
            <tr>
                <th>Friday</th>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td>9:30pm - 1:30am</td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td><span>10pm - 1:30am</span></td>
            </tr>
            <tr>
                <th>Saturday</th>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td>9:30pm - 1:30am</td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td>10pm - 1:30am</td>
            </tr>
            <tr>
                <th>Sunday</th>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
                <td>9pm - 12:30am</td>
            </tr>
        </table>
    </div>
</div>