<div class="jumbotron hidden-xs">
    <div class="container">
        <h2 class="hidden-xs">Release Your Inner Rockstar!</h2>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Search For A Song</a></p>
    </div>
</div>
</div>
<div class="service-btns container">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="imgs/btn-karaoke.jpg" />
        <h4>Karaoke</h4>
        <p>Spice up any event with our karaoke services and your guests are bound to have a rockin' time with our professional KJs!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="/imgs/btn-dj.jpg" />
        <h4>DJ Services</h4>
        <p>Need someone to provide some melody for your special occasion? With a large library of songs we can accomodate your DJ needs!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="/imgs/btn-weddings.jpg" />
        <h4>Weddings</h4>
        <p>Not only do we offer great KJ and DJ services but we also can provide officiating services for your special day tailored to your specific needs.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="/imgs/btn-more.jpg" />
        <h4>And More!</h4>
        <p>With over 20 years of experience, we have the knowledge and experience to provide sound services for your event!</p>
    </div>
</div>