<div class="container">
                <h3 class="page-heading">Find A Song</h3>
                <hr/>
<div class="row row-centered">
<div class="search col-centered col-md-6">
	<div class="search__artist-field col-md-6 col-xs-12">
		<label>Artist Name</label>
		<input type="text" maxlength="400" id="artist-input"/>
	</div>
	<div class="search__song-field col-md-6 col-xs-12">
		<label>Song Title</label>
		<input type="text" maxlength="400" id="song-input" />
	</div>
	<div class="search__submit col-xs-12">
		<div class="submit-button">Search For Songs</div>
	</div>
</div>
</div>
<div class="row row-centered">
<div class="no-results col-xs-12">
<div class="col-xs-12">
<h4>Sorry, we could not find anything matching your search.</h4>
<p>Try searching by just song title or artist name.<br/> Also, feel free to let your KJ know if there is something you'd like to sing we dont currently have.</p></div></div>
<div class="results col-centered col-md-6"></div>
</div>

