<div class="container">
	<h3 class="page-heading">Services</h3>
	<hr/>
	<div class="col-xs-12">	<p>When planning your event, know Cherry Sound provides the best in Entertainment! With quality music selections and sound system you can depend on Cherry Sound for excellence in entertainment and to satisfy all musical tastes and styles desired. We'll assist you in orchestrating your program of events and corresponding musical choices. <a href="#/contact">Contact us today!</a></p></div>
	<div class="col-xs-12 col-sm-6">
	<h4>Our services include:</h4>
	<ul>
		<li>Wedding Receptions</li>
		<li>Anniversaries</li> 
		<li>Bar/Bat Mitzvahs</li>
		<li>Birthdays</li>
		<li>Bridal showers</li>
		<li>Ceremonies</li>
		<li>Children's Parties</li> 
		<li>Cocktail/Dinner Parties</li>
		<li>Conventions</li>
		<li>Corporate Events</li>
		<li>Dinner Dances</li>
		<li>Fund Raisers</li>
		<li>Graduations &amp; Proms</li>  
		<li>Holiday Parties</li>
		<li>Karaoke Parties</li>
		<li>Outdoor Events</li>
		<li>Open Houses</li>
		<li>Pool Parties</li>
		<li>Promotions</li>
		<li>Receptions</li>
		<li>Reunions</li>
		<li>School Functions</li> 
		<li>Theme Parties</li>
		<li>And More!</li>
	</ul>
	</div>
	<div class="col-xs-12 col-sm-6">
	<h4>Our music library includes:</h4>
	<ul>
		<li>Acoustical</li> 
		<li>Big Band</li> 
		<li>Calypso</li> 
		<li>Classical</li> 
		<li>Country</li> 
		<li>Cumbias</li>
		<li>Disco</li> 
		<li>Easy Listening</li> 
		<li>Funk</li> 
		<li>Heavy Metal</li> 
		<li>Hip Hop</li> 
		<li>Jazz</li>
		<li>Latin</li>
		<li>Meringue</li>
		<li>Motown</li>
		<li>New Wave</li>
		<li>Oldies</li>
		<li>Reggae/Ska</li>
		<li>Religious</li>
		<li>R&amp;B</li>
		<li>Rock</li>
		<li>Salsa</li>
		<li>Soul</li>
		<li>Specialty Dances</li> 
		<li>Standards</li>
		<li>Techno</li>
		<li>Top 40</li>
		<li>And Much More!</li>
	</ul>
	</div>
	<div class="col-xs-12">
	<h4>Karaoke</h4>
		<p>Cherry Sound begins with high quality microphones and state-of-the-art sound systems run by friendly, experienced “K.J.’s”. Cherry Sound provides a song-book, that far surpasses other karaoke companies, featuring over 67,000 different songs, from pop to country to standards to musicals and much more. The song books are updated Monthly, following the Top 40 Billboard Charts for all the latest hits and provided by the highest quality karaoke track manufacturers available. Now get up and join the fun….We’re waiting for you!</p>	
	<h4>Weddings</h4>
		<p>Your wedding is the most important day of your life and should be handled by a professional.<br/>
		As a professional with over 23 years experience and over 1,000 weddings, I am not just your DJ, I am your event coordinator. Lets plan the wedding of your dreams! It starts with YOU telling me what you want. From the moment you arrive to the venue until the last song, I will make sure your wedding goes exactly how we plan it.</p>

		<p>As your master of ceremony, I will walk you through the entire reception covering all angles making sure that when you arrive the hardest thing you have to do all day/night is say “I DO.” Then, Get ready for excitement and a packed dance floor! Not to mention lots of compliments from your guests.</p>

		<p>A Cherry Sound DJ entertainer is much more than just a traditional Disc Jockey. We specialize in being proficient Masters of Ceremony, music consultants and event directors. Your professional DJ brings great charisma and enthusiasm with a high level of class and sophistication. Our goal is to exceed your expectations and create an extraordinary evening.</p>

		<p>My philosophy is simple, it’s YOUR day.</p>
		<p>In working with me, you’ll receive:</p>
		<ul>
			<li>5 Hours of non-stop music for cocktails & reception</li>
			<li>Top-of-the-line professional sound system</li>
			<li>A professional DJ/Master of Ceremony (in business since 1992)</li>
			<li>Your play & DO NOT play list</li>
			<li>Personalized announcements, formalities and coordination</li>
			<li>Wireless microphone for speeches & toast</li>
			<li>UNLIMITED telephone or email consultations</li>
			<li>Arrival and set-up 1 hour before your wedding</li>
			<li>NO CHARGE for set-up and break-down!</li>
			<li>NO GAMES, PROPS or ANNOYING GAME SHOW DISPLAYS</li>
			<li>Fully insured</li>
			<li>Properly dressed for occasion</li>
		</ul>
		<h4>DJ Services</h4>
		<p>A Cherry Sound DJ is a mobile disc jockey and wedding entertainment company that has been entertaining Southern California over 20 years. We specialize in wedding receptions, bar mitzvahs & bat mitzvahs, birthday parties, corporate functions, private parties, fund raisers, fashion shows, proms, high school & college sorority and fraternity events. We strive to exceed our client’s expectations! We are a professional DJ company and our DJs are regularly trained and our equipment is high quality. If you are looking for a high-quality DJ for your event that you can trust to show up on time, put on a great show and treat you professionally then schedule your consultation today!</p>
	</div>
</div>