<div class="container">
	<h3 class="page-heading">Services</h3>
	<hr/>
	<div class="col-xs-12">	<p>When planning your event, know Cherry Sound provides the best in Entertainment! With quality music selections and sound system you can depend on Cherry Sound for excellence in entertainment and to satisfy all musical tastes and styles desired. We'll assist you in orchestrating your program of events and corresponding musical choices.</p></div>
	<div class="col-xs-12 col-sm-6">
	<h4>Our services include:</h4>
	<ul>
		<li>Wedding Receptions</li>
		<li>Anniversaries</li> 
		<li>Bar/Bat Mitzvahs</li>
		<li>Birthdays</li>
		<li>Bridal showers</li>
		<li>Ceremonies</li>
		<li>Children's Parties</li> 
		<li>Cocktail/Dinner Parties</li>
		<li>Conventions</li>
		<li>Corporate Events</li>
		<li>Dinner Dances</li>
		<li>Fund Raisers</li>
		<li>Graduations &amp; Proms</li>  
		<li>Holiday Parties</li>
		<li>Karaoke Parties</li>
		<li>Outdoor Events</li>
		<li>Open Houses</li>
		<li>Pool Parties</li>
		<li>Promotions</li>
		<li>Receptions</li>
		<li>Reunions</li>
		<li>School Functions</li> 
		<li>Theme Parties</li>
		<li>And More!</li>
	</ul>
	</div>
	<div class="col-xs-12 col-sm-6">
	<h4>Our music library includes:</h4>
	<ul>
		<li>Acoustical</li> 
		<li>Big Band</li> 
		<li>Calypso</li> 
		<li>Classical</li> 
		<li>Country</li> 
		<li>Cumbias</li>
		<li>Disco</li> 
		<li>Easy Listening</li> 
		<li>Funk</li> 
		<li>Heavy Metal</li> 
		<li>Hip Hop</li> 
		<li>Jazz</li>
		<li>Latin</li>
		<li>Meringue</li>
		<li>Motown</li>
		<li>New Wave</li>
		<li>Oldies</li>
		<li>Reggae/Ska</li>
		<li>Religious</li>
		<li>R&amp;B</li>
		<li>Rock</li>
		<li>Salsa</li>
		<li>Soul</li>
		<li>Specialty Dances</li> 
		<li>Standards</li>
		<li>Techno</li>
		<li>Top 40</li>
		<li>And Much More!</li>
	</ul>
	</div>
</div>