
<div class="col-xs-12 search-result" data-artist-id="{{artistID}}" data-song-id="{{songID}}"><div class="col-xs-6"><strong>{{artistName}}</strong></div><div class="col-xs-6">{{songName}}</div></div>
<hr/>